{% extends 'base.html' %} {% block content %}
<div class="container" style="text-align: center; align-items: center">
  <div class="row">
    <div class="col-lg-6">
      <h2>Login</h2>
      <hr />

      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="email"
            placeholder=" Email "
            class="form-control input-lg"
            name="email"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            placeholder="Password "
            class="form-control input-lg"
            name="password"
          />
        </div>

        <button class="btn-lg btn-warning pull-center">Submit</button>
      </form>

      <div class="margin-8 clear"></div>
    </div>
  </div>
</div>
{% endblock content %}
