{% load static %}

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#!">Article</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == home %} active {% endif %}"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>

        {% if user.id is None %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{% url 'registration' %}"
            >Registration</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'logout' %}"
            >Logout</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav> -->
<header>
  <div class="container">
    <nav class="navbar">
      <a href="/">
        <img
          src="{% static '/assets/images/logo-light.svg' %}"
          alt="SimpleBlog logo"
          width="150"
          class="logo-light"
        />
        <img
          src="{% static '/assets/images/logo-dark.svg' %}"
          alt="SimpleBlog logo"
          width="150"
          class="logo-dark"
        />
      </a>
      <!-- 
      <div class="btn-group">
        <button class="theme-btn theme-btn-mobile light">
          <ion-icon name="moon" class="moon"></ion-icon>
          <ion-icon name="sunny" class="sun"></ion-icon>
        </button>

        <button class="nav-menu-btn">
          <ion-icon name="menu-outline"></ion-icon>
        </button>
      </div> -->

      <div class="flex-wrapper">
        <ul class="desktop-nav">
          <li>
            <a href="/" class="nav-link">Home</a>
          </li>

          <li>
            <a href="{% url 'login' %}" class="nav-link">Login</a>
          </li>

          <li>
            <a href="{% url 'registration' %}" class="nav-link">Sign Up</a>
          </li>
        </ul>

        <!-- <button class="theme-btn theme-btn-desktop light">
          <ion-icon name="moon" class="moon"></ion-icon>
          <ion-icon name="sunny" class="sun"></ion-icon>
        </button> -->
      </div>

      <div class="mobile-nav">
        <button class="nav-close-btn">
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <div class="wrapper">
          <p class="h3 nav-title">Main Menu</p>

          <ul>
            <li class="nav-item">
              <a href="#" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">About Me</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>

        <div>
          <p class="h3 nav-title">Topics</p>

          <ul>
            <li class="nav-item">
              <a href="#" class="nav-link">Database</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">Accessibility</a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">Web Performance</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
