{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <form action="{% url 'article_search' %}" method="GET">
      <div class="searchBar">
        <div class="col-lg-3 searchBarItem">
          <input
            class="form-control form-control-lg"
            type="text"
            placeholder="search"
            name="query"
          />
        </div>

        <div class="col-lg-3">
          <button type="submit" class="btn btn-primary longButton">
            Search
          </button>
        </div>
      </div>
    </form>
    <div class="col-lg-8">
      {% for item in article %}
      <div class="jumbotron-fluid aboutPost">
        <div class="jumbotron">
          <!-- <h6>BLOG</h6> -->
          <h3>{{item.title}}</h3>

          {% for category in item.category.all %}
          <!-- <li>{{ category.category }}</li> -->
          <h4>{{category.category}},</h4>
          {% endfor %}
          <p>{{item.content}}</p>
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'article_detail' item.id %}"
            role="button"
            >Learn more</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="card col-lg-4 col-md-4">
      <h3>Categories</h3>
      <div class="card-body">
        <div class="row">
          <div class="col-mb-6 jumbotron">
            <ul class="list-unstyled mb-0">
              {% for cat in category %}
              <li>
                <a href="{% url 'articles_by_categories' cat.category %}"
                  >{{cat.category}}</a
                >
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <span class="step-links">
        {% if article.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ article.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">{{ article.number }}</span>

        {% if article.has_next %}
        <a href="?page={{ article.next_page_number }}">next</a>
        <a href="?page={{ article.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>

{% endblock content %}
