{% extends 'base.html' %} 
{% load static %}

{% block title %} Article {% endblock %} 
{% block content %}

<div class="container">
  <div class="text-center my-5">
    <h1 class="fw-bolder text-success">Articles</h1>
  </div>
  <hr />
  <div class="row">
    <!-- Blog entries -->
    <div class="col-lg-4">
      <!-- Search widget -->
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
          <form action="{% url 'article_search' %}" method="GET">
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                name="query"
                placeholder="Enter search term..."
                aria-label="Enter search term..."
                aria-describedby="button-search"
              />
              <button class="btn btn-primary" id="button-search" type="submit">
                Go!
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                {% for cat in category %}
                <li>
                  <a href="{% url 'articles_by_categories'  cat.category  %}"
                    >{{ cat.category }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Side widget -->
      <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are
          easy to use, and feature the Bootstrap 5 card component!
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      {% if articles %}
      <h2 class="text-center">Results for "{{ query }}"</h2>
      <hr />
      {% for item in articles %}
      <div class="card mb-4">
        <a href="{% url 'article_detail' item.id  %}"


          {%if item.image%}
        <img class="card-img-top" src="{{ item.image.url }}" alt="..." /></a>


        {% else %}
        <img class="card-img-top" src="{% static 'img/indexBackground2.jpg' %}" alt="..." />

        {%endif%}
      
      
      
      
      </a>
        <div class="card-body">
          <div class="small text-muted">{{ item.created_at }}</div>
          <h2 class="card-title">{{ item.title }}</h2>
          <p class="card-text">by {{ item.author_name }}</p>
          <a class="btn btn-primary" href="{% url 'article_detail' item.id  %}"
            >Read more →</a
          >
        </div>
      </div>
      {% endfor %} {% else %}
      <br /><br />
      <br />
      <h2 class="text-center">No results found for "{{ query }}"</h2>
      <br /><br />
      <br /><br /><br />
      <br /><br /><br />
      <br /><br /><br />
      <br />

      <br /><br />
      <br /><br /><br />
      {% endif %}

      <nav aria-label="Pagination">
        <hr class="my-0" />

        {% if articles.has_other_pages %}
        <ul class="pagination justify-content-center my-4">
          {% if articles.has_previous %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ articles.previous_page_number }}"
              >Previous</a
            >
          </li>
          {% else %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="/">Previous</a>
          </li>
          {% endif %} {% for i in articles.paginator.page_range %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endfor %} {% if articles.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ articles.next_page_number }}"
              >Next</a
            >
          </li>
          {% else %}
          <li class="page-item active">
            <a class="page-link" href="#">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
    <!-- Side widgets -->

    <!-- Categories widget -->
  </div>
</div>
{% endblock %}
