{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="text-center my-5">
    <h1 class="fw-bolder text-success">{{ article.title }}</h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
    
      <div class="card ">           {%if article.image%}
        <img class="card-img-top" src="{{ article.image.url }}" alt="..." /></a>


        {% else %}
        <img class="card-img-top" src="{% static 'img/indexBackground2.jpg' %}" alt="..." /></a>

        {%endif%}
        <div class="card-body">
          <div class="small text-muted">{{article.created_at}}</div>
          <h2 class="card-title">{{ article.title }}</h2>
          <p class="card-text">{{article.content}}</p>
          {% comment %} <a class="btn btn-primary" href="{% url 'article_detail' item.id %}"
            >Read more →</a
          > {% endcomment %}
        </div>
      </div>
 

    </div>


  </div>
</div>

{% endblock content %}
