{% extends 'base.html' %} {% block content %}
<div class="container">
      <div class="text-center my-2">
      <h1 class="fw-bolder text-success">Articles</h1>
    </div>
    <hr/>
  <div class="row">
 
    <div class="col-lg-12 bar">
   <a href="{% url 'create' %}">
        <button class="btn btn-primary mb-2 longButton">
          Create Article
        </button></a
      >
        <div class="panel panel-default">
      

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Serial No</th>
                <th>Title</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {% for item in articles %}
              <tr>
                <td class="col-lg-1 col-md-1 col-xs-2">{{forloop.counter}}</td>
                <td class="vert-align">
                  <a href="{% url 'article_detail' item.id %}"
                    >{{item.title}}</a
                  >
                </td>
                <td class="text-center vert-align">
                  <!-- <a
                    class="btn-lg btn-secondary"
                    href="{% url 'edit_article' item.id %}"
                    >Edit</a
                  > -->
                    <a href="{% url 'edit_article' item.id %}">
        <button class="btn btn-primary mb-2 longButton">
          Edit
        </button></a
      >
                </td>

                <td class="text-center vert-align">
               
                        
                    <a href="{% url 'delete_article' item.id %}">
        <button class="btn btn-primary mb-2 longButton">
          Delete
        </button></a
      >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <nav aria-label="Pagination">
          <hr class="my-0" />

          {% if articles.has_other_pages %}

          <ul class="pagination justify-content-center my-4">
            {% if articles.has_previous %}
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{ articles.previous_page_number }}"
                >Previous</a
              >
            </li>
            {% else %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="/">Previous</a>
            </li>
            {% endif %} {% for i in articles.paginator.page_range %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %} {% if articles.has_next %}

            <li class="page-item">
              <a class="page-link" href="?page={{ articles.next_page_number }}"
                >Next</a
              >
            </li>
            {% else %}
            <li class="page-item active">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
